#contactInfoContainer{
  display: grid;
  border: 1px solid black;
  place-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  background-color: rgba(215, 215, 215, 0.349);
}

#contactInfoForm {
  display: grid;
  justify-self: center;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  padding: 3rem;
}

#contactInfoForm, input, div{
  width: 10rem;
}

.editButton, .submitButton {
  width: 10rem;
  height: 2rem;
  background-color: rgba(145, 255, 184, 0.656);
}